RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

<FilesMatch "\.(pfx|xml|pdf|txt)$">
Order allow,deny
Deny from all

</FilesMatch>

ErrorDocument 403 /403.html